.pricing {
  margin-bottom: 50px;
}

.card__popular-marker {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
}

.pricing__heading {
  text-align: center;
  line-height: 1;
  margin: 137px 0 72px 0;
}

.pricing__heading h1{
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 1.05em;
}

.pricing__heading p{
  font-size: 22px;
  font-weight: 400;
  color: #5D7085;
  letter-spacing: 0.019em;
}

.pricing__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.pricing__card-list-item {
  max-width: 266px;
  width: 100%;
  min-height: 601px;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 58px 35px 38px 35px;
  color: #fff;
}

.card__pesonal {
  background: #FDC624;
  background: linear-gradient(180deg,rgba(253, 198, 36, 1) 0%, rgba(230, 196, 52, 1) 100%);
}

.card__business {
  background: #55DCE7;
  background: linear-gradient(180deg,rgba(85, 220, 231, 1) 0%, rgba(61, 202, 212, 1) 100%);
}

.card__developer {
  background: #6BDFFF;
  background: linear-gradient(180deg, rgba(107, 223, 255, 1) 0%, rgba(61, 172, 252, 1) 100%);
}

.card__agency {
  background: #BFCEDC;
  background: linear-gradient(0deg, rgba(147, 159, 179, 1) 0%, rgba(191, 206, 220, 1) 100%);
}

.card__pesonal > .card__popular-marker {
  background: linear-gradient(0deg, rgb(232 196 45) 0%, rgb(250 197 38) 100%);
}

.card__business > .card__popular-marker {
  background: linear-gradient(0deg, rgb(66 214 225) 0%, rgb(83 218 229) 100%);
}

.card__developer > .card__popular-marker {
  background: #63D6FE;
  background: linear-gradient(0deg,rgba(99, 214, 254, 1) 0%, rgba(93, 212, 248, 1) 100%);
}

.card__agency > .card__popular-marker {
  background: linear-gradient(0deg, rgb(180 194 218) 0%, rgba(191, 206, 220, 1) 100%);
}

.card__pesonal > .card__button:hover {
  color:#E6C434;
  background-color: #fff;
}

.card__business > .card__button:hover {
  color:#3DCAD4;
  background-color: #fff;
}

.card__developer > .card__button:hover {
  color:#3DACFC;
  background-color: #fff;
}

.card__agency > .card__button:hover {
  color:#939FB3;
  background-color: #fff;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 140px;
  margin: 4px auto 0;
}

.card__button {
  margin-top: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  border: solid 1px #fff;
  padding: 12px 10px;
}

.card__heading {
  margin-bottom: 27px;
}

.card__heading-title {
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
}

.card__heading-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.card__price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 13px;
}

.symbol-dollar {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.price {
  font-size: 67px;
  font-weight: 700;
  line-height: 1;
  margin-top: 9px;
}

.card__advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.card__advantages-list-item {
  list-style-image: url(../images/advantage.svg);
  padding-left: 6px;
}